{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/signin.css' %}">
</head>
<body>
    <div class="wrapper bg-white">
        <div class="h2 text-center">Travelista</div>
        <div class="h4 text-muted text-center pt-2">Enter your login details</div>
        <form class="pt-3" method="post" action="{% url 'accounts:login' %}">
            {% csrf_token %}
            <div class="form-group py-2">
                <div class="input-field"> <span class="far fa-user p-2"></span> 
                    <input type="text" name="username" placeholder="Username" required class=""> </div>
            </div>
            <div class="form-group py-1 pb-2">
                <div class="input-field"> <span class="fas fa-lock p-2"></span> 
                    <input type="password" name="password" placeholder="Enter your Password" required class=""> 
                    <button class="btn bg-white text-muted" type="submit"> <span class="far fa-eye-slash"></span> </button> </div>
            </div>
            <div class="d-flex align-items-start">
                <div class="remember"> <label class="option text-muted"> Remember me 
                    <input type="radio" name="radio"> <span class="checkmark"></span> </label> </div>
                <div class="ml-auto"> <a href="#" id="forgot">Forgot Password?</a> </div>
            </div> <button class="btn btn-block text-center my-3" type="submit">Log in</button>
            <div class="text-center pt-3 text-muted">Not a member? <a href="#">Sign up</a></div>
        </form>
    </div>
</body>
</html>